@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Вітаємо Вас в онлайн Супермаркеті!</h3>
    <a asp-controller="Products" asp-action="Index"> <br/> Переглянути товари <br/></a>
    <img class="img-thumbnail" src="https://img.freepik.com/free-vector/shopping-mall-outside-composition-mall-building-with-tags-and-headlines-of-shops-on-the-wall_1284-58788.jpg?w=2000" style="weight: 900px; height: 600px; healign-self: center; padding-top: 10px">
</div>
<div></div><div></div><div></div><div></div><div></div><div></div><div></div>